extends layout
block scripts
	script(src='/js/_auth.js', type='text/javascript')
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js', type='text/javascript')
block content
	form.form-signin#loginForm(action='/auth', method='post')
		button.panel-submit-btn.btn-auth#signIn Sign with google+   