extends layout
block scripts
	script(src='/js/_list.js', type='text/javascript')
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js', type='text/javascript')
block content
	h1 list of your gooogle drive spreadsheets
	form.form-signin#loginForm(action='/auth/list', method='post')
		a working
		a work
		button.panel-submit-btn.btn-auth#submit Submit
